[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
opencv-python = "*"
python-telegram-bot = "*"
telebot = "*"
pysocks = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
wordcloud = "*"
nltk = "*"
spacy = "*"
sklearn = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.9"
